html { 
    background: url(../../../../images/bg_image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#header-login{
    color: 939292;
}
.loginbox{
    width: 320px;
    height: 370px;
    border-radius: 3%;
    color: rgb(75, 75, 75);
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #85CE36;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    color: rgb(75, 75, 75);   
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #85CE36;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(75, 75, 75);
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color: #85CE36;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
